<%- include('../parts/head', {bot, user, path}) %>
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9050850999194182"
     crossorigin="anonymous"></script>
</head>
<title>Reportar Bug</title>
<style>
strong {
color: var(--body-text)!important;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
        <center>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdQL4Olet0gRNdEUqY6N4aUW3_5f4dq2KPXupBgbvNqVVEupQ/viewform?embedded=true" width="640" height="1430" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </center>
        </div>
    </div>
</div>

<%- include('../parts/foot') %>