<%- include('../parts/head', {bot, user, path}) %>

<title>BotCity List Faq | Discord Bot List</title>
<style>
strong {
color: var(--body-text)!important;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
            <p class="is-size-4" style="text-decoration: underline;">BotCity List Faq</p>
            <p style="text-align: none;"class="text-muted">
&raquo <strong>1.</strong> ¿Cómo se hizo BotCity?<br>
  &nbsp;&nbsp;<strong>Respuesta:</strong> Con un grupo de amigos<br>
  <br>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Recompensas de BotCity coins
</h3>
</center>
<p class="text-muted">
<strong>50 Coins <span data-tooltip="Vcodez Coins" data-tooltip-location="top">
<i class="fas fa-coin has-text-warning" style="font-size: 20px;"></i>
</span></strong>
<br>Puede promotear su bot durante 1 hora.
<br><strong>100 Coins <span data-tooltip="Vcodez Coins" data-tooltip-location="top">
<i class="fas fa-coins has-text-warning" style="font-size: 20px;"></i>
</span></strong>
<br>Puede promotear su servidor/bot durante 1 día.
<br><strong>500 Coins <span data-tooltip="Vcodez Coins" data-tooltip-location="top">
<i class="fas fa-coins has-text-warning" style="font-size: 20px;"></i>
</span></strong>
<br>Puede promotear su servidor/bot durante 1 semana.
</p>
<br>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Paquetes de promoción
</h3>
</center>
<p class="text-muted">
<strong>Paquete 1</strong>
<span class="badge badge-danger">Recomendar/promocionar nuestro servidor y nuestra botlist</span>
<br>Su bot estará en la página de Bots promocionados.
<br><strong>Paquete 2 </strong><span class="badge badge-danger">500.000 De BotCity coins</span>
<br>Su bot estará en la página de Bots promocionados.
<br>Su servidor estará en la página de servidores premium.
<br>Se agregará a la página de partners.
</p>
<br>
<center>
<h5 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Beneficios de la promoción
</h5>
</center>
<p class="text-muted">
<br>Para bots
<br>Un rol especial en nuestro servidor de Discord para que la gente sepa que está promocionado.
<br>Una insignia especial( <span data-tooltip="Promoted Bot" data-tooltip-location="top">
<i class="fas fa-stars has-text-warning" style="font-size: 20px;"></i>
</span>) en su tarjeta de bot para que la gente sepa que está promocionado.
<br><br>Para usuarios promocionados
<br>Un rol especial en nuestro servidor de Discord para que la gente sepa que ha promocionado.
<br>Una insignia especial( <span data-tooltip="Promoted Developer" data-tooltip-location="top">
<i class="fas fa-stars has-text-warning" style="font-size: 20px;"></i></span>) en su perfil para que la gente sepa que ha promocionado.
<br>Un rol especial en nuestro servidor de Discord para que la gente sepa que tienes Premium.
<br>Una insignia especial( <span data-tooltip="Premium Server Owner" data-tooltip-location="top">
<i class="fad fa-bahai has-text-success" style="font-size: 20px;"></i></span>) en tu perfil para que la gente sepa que tienes Premium.
</p>
<br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/all-faq'" class="btn btn-disbots"><i class="fad fa-check"></i>&nbsp;Ver todas las preguntas frecuentes</button>
    </center>
</div>

<%- include('../parts/foot') %>
